{% extends "base.html" %}
{% block content %}
  <h1>Cars</h1>
  {% if car.drivers.all %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Model</th>
        </tr>
      </thead>
      <tbody>
      {% for car in car_list %}
        <tr>
          <td>
            <a href="{% url 'taxi:car-detail' car.id %}">{{ car.id }}</a>
          </td>
          <td>{{ car.model }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Cars were not found</p>
  {% endif %}
{% endblock %}
